:root {
	--contentWidth:80%;
	--headerHeight:35px;
	--contentBackground:#fafafa;
	--borderColor:#5A5A5A;
	--textColor:#212121;/*2a2a2a*/
	--logoColor:#1b75bb;
	--colorWhite:#fff;
	--deneme:#ababab;
	--politikaColor:Peru;
	--dunyaColor:Turquoise;
	
 }
 
body{
	background-color: var(--contentBackground);
	/*
	background-image: url('icon/aktuelsutun-site-icon2.png');
    background-repeat: repeat;
    background-size: 30px 30px;
	*/
 }
 
*{
	margin:0px;
	padding:0px;
	list-style-type: none;
	text-decoration: none;
	outline:none;
	color: #212121;
/*	border:1px solid lime;
	*/
}

*, :after, :before {
    box-sizing: border-box;
	
}

.clear{
	clear:both;
	
}

i{
	color: var(--colorWhite);
	background-color: var(--textColor);
	margin-right:5px;
	margin-top:-13px !important;
}

.saa th{
	padding:15px 10px;
    font-family: 'Arial';
		font-size:16px;
}

.sa th{
	padding:10px 20px;
    font-family: 'Arial';
		font-size:12px;
}

.koyu{
	background-color:#51baf4;
	border:3px solid red;
	padding-top:10px;
}

.acik{
	padding-top:10px;
	border:3px solid red;
	background-color:#bee6fc;
}

.orange{
	color:orange !important;
}

.Darkorange{
	color:Darkorange !important;
}

.Peru{
	color:Peru !important;
}

.Turquoise{
	color:Turquoise !important;
}

.Chartreuse{
	color:Chartreuse !important;
}

.DeepPink{
	color:DeepPink !important;
}

.GreenYellow{
	color:GreenYellow !important;
}

.LightSkyBlue{
	color:LightSkyBlue !important;
}

.Gold{
	color:Gold !important;
}

.DarkSalmon{
	color:DarkSalmon !important;
}

.HotPink{
	color:HotPink !important;
}

.Yellow{
	color:Yellow !important;
}

.BPeru{
	background-color:Peru !important;
}

.BTurquoise{
	background-color:Turquoise !important;
}

.logoColor{
	color:var(--logoColor);
}

.BlogoColor{
	background-color:var(--logoColor);
}

.borderColor{
	color:var(--borderColor) !important;
}

.BborderColor{
	background-color:var(--borderColor) !important;
}

.yazar{
	font-family: 'Roboto Regular' !important;
	font-size:10px !important;
}

.kirmizi{
	color:#f00;
	font-weight:bold;
}

.padding0{
	padding:0px !important;
}

.padding90{
	padding-right:90px !important;
}

.margin0{
	margin:0px !important;
}

.borderNone{
	border-left:0px solid red !important;
}


.robotoBlack{
	font-family: 'Roboto Black';
}

.hr80{
	width:var(--contentWidth);
}

.hr90{
	width:90%;
}

.birSatir{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* kaç satırla sınırlayacağımızı yazıyoruz */
  -webkit-box-orient: vertical;
}

.ikiSatir{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* kaç satırla sınırlayacağımızı yazıyoruz */
  -webkit-box-orient: vertical;
}

.ucSatir{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* kaç satırla sınırlayacağımızı yazıyoruz */
  -webkit-box-orient: vertical;
}

.yaziAnimasyon:hover{
	color: var(--logoColor);
	transition: 0.6s ease;
}

.kategoriAnimasyon:hover{
	background-color: var(--logoColor);
	color: var(--colorWhite);
	transition: .6s ease;
}

header{
	width:var(--contentWidth);
	height: var(--headerHeight);
	background-color: var(--contentBackground);
	
}

	.nav{
		width:10px;
		height: var(--headerHeight);
		float:left;
		display:grid;
		align-content:center;
	}

		.nav img{
			width:20px;
		}

	.date{
		width:200px;
		margin-left:5px;
		height: var(--headerHeight);
		float:left;
		font-family: 'Roboto Regular';
		font-size:11px;
		display:grid;
		align-content:center;
		
	}

	.menuTop{
		width:304px;/*304px*/
	}

		.menuTop ul{

		}

			.menuTop li{
				float:left;
				padding-right:18px;
				
			}

				.menuTop a{
					height: var(--headerHeight);
					font-family: 'Roboto Regular';
					font-size:11px;
					display:grid;
					align-content:center;
				}

	.icon{
		float: right;
		
	}

		.icon ul{
			
		}

			.icon li{
				float: left;
				padding-right:5px;
			}

				.icon a{
					height: var(--headerHeight);
					display:grid;
					align-content:center;
					
					
				}

					.icon img{
						width:17px;
						
					}


.logo{
	width:var(--contentWidth);
	height:80px;
	padding-top:20px;
	background-color: var(--contentBackground);
	
}

	.logo img{
		height:70px;
		
	}

.slogan{
	width:var(--contentWidth);
	padding-top:20px;
	padding-bottom:15px;
	background-color: var(--contentBackground);
	
}

	.slogan p{
	font-family: 'Roboto Medium';
	font-size:15px;
	
	}

.menu{
	width:var(--contentWidth);
	height: var(--headerHeight);
	background-color: var(--textColor);
	display: flex;
	justify-content:center;
}

	.menu ul{
		
	}

		.menu li{
			height: var(--headerHeight);
			float:left;
			display:grid;
			align-content:center;
			
		}

			.menu a{
				border-left:1px solid  var(--colorWhite);
				font-family: 'Roboto Regular';
				font-size:15px;
				padding-left:10px;
				padding-right:10px;
				color: var(--colorWhite);
				
			}

.duyurular{
	width:var(--contentWidth);
	height:50px;
    display: flex; 
	align-items: center;
	background-color: var(--contentBackground);
}

	.yeniYazilarText{
		width:100px;
		height:30px;
		background-color: var(--logoColor);
		display:grid;
		align-content:center;
	}

		.yeniYazilarText p{
			color: var(--colorWhite);
			font-family: 'Roboto Regular';
			font-size:12px;
		}

	.yeniYazilarMetin{
		width:100%;
		height: 30px;
		overflow: hidden;
		border:1px solid  var(--borderColor);
		text-align:left;
	}

		.yeniYazilarMetin ul{
			padding: 0px 6px;
			animation: tickr 12s cubic-bezier(1, 0, .5, 0) infinite;
			
		}
		
			@keyframes tickr {
				0%   { margin-top: 0px;}
				25%  { margin-top: -25px; }
				50%  { margin-top: -52px;}
				75%  { margin-top: -79px;}
				100% { margin-top: 3px;}
			}

			.yeniYazilarMetin ul:hover {
				animation-play-state: paused;
			}

			.yeniYazilarMetin li{
				color: #000;
				font-family: 'Roboto Regular';
				font-size:12px;
				line-height: 26px;
				
			}

				.yeniYazilarMetin a{
					color: #000;
					font-family: 'Roboto Black';
					
				}
				
				.notBold{
				color: #000;
				font-family: 'Roboto Regular' !important;
				font-size:12px;
				line-height: 26px;
				
			}

.duyuruAlt{
	width:var(--contentWidth);
	height:373px;
	display: flex;
	background-color: var(--contentBackground);
	
}

	.bir{
		width:48%;
		margin-right:2%;
		
	}


		
		/************************* Yeni slider ****************************/
		
		@keyframes hareketsagsol{
            from{ right:-100%; opacity:0.5;}to{right:0px; opacity:1;}
        }
    @keyframes hareketsagsol2{
            from{ right:0px;opacity:1;}to{right:100%;opacity:0.5;}
        }
    #slider{
        
        width:100%;
        height:373px;
        overflow:hidden;
        position:relative;
        }
    .slayt{
        width:100%;
        height:100%;
        overflow:hidden;
        position:absolute;
        top:0;
        right:-100%;
        opacity:0.5;
        }
    .ileri,.geri{
	  cursor: pointer;
	  position: absolute;
	  top: 40%;
	  padding: 5px;
	  color: var(--logoColor);
	  background-color: var(--colorWhite);
	  font-size: 28px;
	  transition: 1.6s ease;
	  opacity:0.4;
	}
	
	.geri {
	  left: 0px;
	  border-radius:  0 7px 7px 0;
	}

	.ileri {
	  right: 3%;
	  border-radius: 7px 0 0 7px;
	}
	
	.geri:hover, .ileri:hover {
	  background-color: var(--colorWhite);
	  opacity:0.8;
	}
	
    .aciklama{
        width:100%;
        padding:10px;
        color:white;
        opacity:0.4;
        background-color:rgba(0,0,0,0.4);
        position:absolute;
        bottom:0;
        }
    .slaytsirasi ul{ list-style: none; padding:0; margin:0; opacity:1 !important;}
/*    .slaytsirasi ul li{ display:inline-block; padding:0.5em; background-color:rgba(255,255,255,0.5); border-radius:50%; transition:all .5s linear}
*/    .slaytsirasi ul li:hover{ background-color:rgba(242, 17, 17, 0.85);}
    span{ display:inline-block; padding:0.5em; margin-right:5px; background-color:rgba(255,255,255,0.5); border-radius:50%; transition:all .5s linear;}
	.aktifLi{ background-color:#1b75bb !important;}
    .slaytsirasi{width:100%;
			padding:10px 0px;
			z-index:1;
			background-color: var(--textColor); position: absolute; bottom:0px; opacity:0.7;}
		/************************* Yeni slider bitimi ****************************/
		
		
/*********** slider kısmının başlangıç ***********/

		.slider1{
			width:100%;
			height:100%;
			position:relative;
			display: flex;
		}

			.slider1-icerik{
				width:100%;
				animation-name: fade;
				animation-duration: 2.5s;
				overflow: hidden;
				margin-left: -2px;
				
			}
			/*
				@keyframes fade {
					from {transform: rotateY(-50deg);} 
					to {transform: rotateY(0deg);}
				}
			*/
				.hero-image{
					width:100%;
				}
				
					.hero-image img{
						height:100%;
					}
				
				.hero-text{
					width:85%;
					height:75px;
					position:absolute;
					top:215px;
					left:20px;
					background-color:#000;
					padding:10px;
					opacity:0.8;
					text-align:left;
				}
				
				
				
				.hero-text a{
					font-family: 'Roboto Bold';
					font-size:25px;
					line-height:30px;
					color: var(--colorWhite);
				}

/*
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 40%;
		  padding: 5px;
		  color: var(--logoColor);
		  font-size: 28px;
		  transition: 1.6s ease;
		  opacity:0.4;
		}

		.prev {
		  left: 0px;
		  border-radius:  0 7px 7px 0;
		}

		.next {
		  right: 3%;
		  border-radius: 7px 0 0 7px;
		}


		.prev:hover, .next:hover {
		  background-color: var(--colorWhite);
		  opacity:0.8;
		}




		.dot {
			cursor: pointer;
			height: 12px;
			width: 12px;
			margin: 0 3px;
			background-color: #000;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}


		.active, .dot:hover {
		  background-color: var(--logoColor);
		}


		.noktalar{
			width:97%;
			position:absolute;
			bottom:0px;
			padding:10px 0px;
			z-index:1;
			background-color: var(--textColor);
			opacity:0.8;
			
		}
		*/
		/*********** slider kısmının bitimi ***********/
		

	.iki{
		width:25%;
		padding:0px 10px;
		border-right:1px solid  var(--borderColor);
		
	}

		.ikiAlt{
			width:100%;
			
		}


			.ikiAlt h1{
				color:var(--textColor);
				font-family: 'Roboto Bold';
				font-size: 18px;
				padding-bottom:5px;
				border-bottom:2px solid  var(--textColor);
				
			}

			.koseYazisi{
				width:100%;
				height:85px;
				padding-top:10px;
				text-align:left;
				display:flex;
				border-bottom:1px solid  var(--borderColor);
				
			}

				.koseYazisi img{
					width:50px;
					height:70%;
					float:left;
					margin-right:10px;
					border-radius:50%;
					
				}

				.koseYazisiText{
					width:var(--contentWidth);
					display:flex;
					flex-direction:column;
					
				}
				
				.koseYazisi p{
					
				}
				
				.koseYazisi p a{
					width:100%;
					float:left;
					font-family: 'Roboto Bold';
					font-size: 14px;
					color: var(--textColor);
					
				}
				
				.koseYazisi a{
					color: var(--logoColor);
					padding-top:5px;
					
				}

	.uc{
		width:25%;
		padding:0px 10px;
		overflow: hidden;
		border-right:1px solid  var(--borderColor);
		border-left:1px solid  var(--borderColor);
		
	}

		.ucAlt{
			width:100%;
			overflow: hidden;
			
		}
		
		.ucAlt h1{
				color:var(--textColor);
				font-family: 'Roboto Bold';
				font-size: 18px;
				padding-bottom:5px;
				border-bottom:2px solid  var(--textColor);
				
			}

			.haberYazisi{
				width:100%;
				height:85px;
				padding-top:10px;
				text-align:left;
				display:flex;
				border-bottom:1px solid  var(--borderColor);
				
			}

				.haberYazisi img{
					width:90px;
					height:70%;
					float:left;
					margin-right:10px;
					
				}

				.haberYazisiText{
					width: var(--contentWidth);
					display:flex;
					flex-direction:column;
					
				}
				
				.haberYazisi a p{
					width:100%;
					float:left;
					font-family: 'Roboto Bold';
					font-size: 14px;
					padding-top:5px;
					
				}
				
				.haberYazisi a{
					color: var(--logoColor);
					font-family: 'Roboto Regular' !important;
					font-size:10px !important;
					
				}

			.ucAlt ul{
				animation: tickr2 30s  infinite; /*( her haber yazısı için 5 saniye - 3 tane haber yazısı)*/
				
			}
				@keyframes tickr2 {
					0%   { margin-top: 0px;}
					50% { margin-top: -525px;}/* ( bir tane haber yazısı için 5px + 70px ) - ( 225px )*/
					100%   { margin-top: 0px;}
				}

				.ucAlt ul:hover {
				animation-play-state: paused;
			}
				
.enCokOkunanlar{
	width:var(--contentWidth);
	height:160px;
	padding-top:20px;
	text-align:left;
	background-color:var(--contentBackground);
}

	.enCokOkunanlarName{
		width:180px;
		font-family:"Roboto Bold";
		font-size:15px;
		padding:8px 15px;
		background-color:var(--borderColor);
		color:var(--colorWhite);
	}

/*********** slider2 kısmının başlangıç ***********/

	.enCokOkunanlarslider{
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center; 
		border-top:2px solid var(--borderColor);
		border-bottom:1px solid var(--borderColor);
		padding-bottom:10px;
		padding-top:10px;
	}

		.enCokOkunanlarsliderIcerik{
			width:23.9%;
			animation-name: fade2;
			animation-duration: 1.5s;
			
		}
		
			@keyframes fade2 {
				from {opacity: 0.4} 
				to {opacity: 1}
			}
			
			.enCokOkunanlarsliderImage{
				width:100%;
				display: flex;
				flex-direction:row;
				
			}
				.enCokOkunanlarsliderImage img{
					width:120px;
					height:80px;
					float:left;
					margin-right:10px;
				}
				
			.enCokOkunanlarsliderText{
				width:100%;
				float:right;
				display: flex;
				flex-direction:column;
				align-items: flex-start;
			}

			.enCokOkunanlarhaberKategoriler{
				display: flex;
				flex-direction:row;
				align-items: center;
				justify-content: center; 
			
			}
			
				.enCokOkunanlarhaberKategori{
					font-family: 'Roboto Regular';
					font-size:10px;
					border:1px solid var(--borderColor);
					padding:1px 5px;
					border-radius:7px;
					margin-right:5px;
					
				}
				
			.enCokOkunanlarhaberBaslik{
				font-family: 'Roboto Bold';
				font-size:12px;
				padding-right:10px;
				overflow: hidden;
				margin-top:10px;
				margin-bottom:13px;

			}
			
			.enCokOkunanlarhaberTarih{
				font-family: 'Roboto Regular';
				font-size:11px;
				color:var(--logoColor);
			}

	.prev2, .next2 {
		  cursor: pointer;
		  position: absolute;
		  padding: 5px;
		  color: var(--logoColor);
		  font-size: 28px;
		  transition: 1.6s ease;
		}

	.prev2 {
	  left: 10%;
	  border-radius:  0 7px 7px 0;
	}

	.next2 {
	  right: 10%;
	  border-radius: 7px 0 0 7px;
	}


	.prev2:hover, .next2:hover {
	  background-color: #000;
	}

/*********** slider2 kısmının bitimi ***********/

/*********** sidebar kısmının başlangıcı ***********/
.sidebar1,.sidebar2{
	width:100%;
	height:auto;
	margin-top:55px;
	border-left:1px solid var(--textColor);
	border-right:1px solid var(--textColor);
	display: flex;
	flex-direction:column;
	background-color:var(--contentBackground);
}

.sidebar2{
	border-left:none;
}

	.muhtelifSutunlar{
		width:100%;
		padding:0px 10px;
			
	}

		.muhtelifSutunlar h1{
			width:100%;
			font-family: 'Roboto Bold';
			font-size: 18px;
			color:var(--textColor);
			text-align:center;
			padding-bottom:5px;
			border-bottom:1px solid #000;
		}

	.muhtelifSutunAltlar{
		width:100%;
		margin-top:10px;
		background-color:#F1F1F1;
		border-top:6px dashed var(--logoColor);
		border-bottom:6px dashed var(--logoColor);
	
	}
		
	.muhtelifSutunALt{
		height:115px;
		display: flex;
		flex-direction:row;
		padding:20px 10px;
		border-bottom:1px solid var(--borderColor);
	
	}

	
		.muhtelifSutunALt img{
			width:80px;
			height:80px;
			float:left;
			margin-right:10px;
			
		}

		.muhtelifSutunAltText{
			width:100%;
			height:80px;
			display: flex;
			flex-direction:column;
		
		}
		
			.muhtelifSutunALtGezgin{
				font-family: 'Roboto Medium';
				font-size: 12px;
				background-color:#000;
				color:var(--colorWhite);
			
			}
			
			.muhtelifSutunALtBaslik{
				font-family: 'Roboto Medium';
				font-size: 14px;
				padding-top:6px;
				text-align:left;
			
			}
			
			.muhtelifSutunALtYazar{
				font-family: 'Roboto Regular';
				font-size: 12px;
				text-align:left;
				padding-top:6px;
				color:var(--logoColor);
			
			}
			
			.muhtelifSutunlarButton{
				font-family: 'Roboto Medium';
				font-size: 13px;
				padding:3px 8px;
				margin:10px 0px;
				border:1px solid var(--textColor);
				border-radius:7px;
				background-color:transparent;
				transition: 0.6s ease;
			
			}
			
			.muhtelifSutunlarButton:hover{
				background-color:var(--logoColor);
				color:var(--colorWhite);
				border-color:var(--logoColor);
			
			}
			
	.reklam{
		width:90%;
		height:200px;
		margin:10px 10px;
		background-color:#C4C4C4;
			
			}
/*********** sidebar kısmının bitimi ***********/
.content{
	width:var(--contentWidth);
	height:auto;
	display:flex;
	background-color: var(--contentBackground);
	padding-bottom:30px;
}

.contentLeft{
	width:73%;
	float:left;
}

.contentRight{
	width:27%;
	float:right;
}

.sayfaButonu{
	width:50px;
	height:25px;
	float:right;
	margin-top:9px;
	background-color:var(--whiteColor);
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center; 
}

.sayfaButonuNokta{
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:5px;
	background-color:var(--borderColor);
}
/*********** politika kısmının başlancıgı ***********/
.politika{
	width:98%;
	float:left;
	margin-top:20px;
	text-align:left;
}

.politika h1{
	font-family:"Roboto Bold";
	font-size:15px;
	padding:8px 25px;
	float:left;
	background-color: var(--borderColor);
	color:var(--colorWhite);
}

.politikalar{
	width:100%;
	height:380px;
	display:flex;
	padding-top:10px;
	padding-bottom:10px;
	border-top:2px solid var(--borderColor);
	border-bottom:1px solid var(--borderColor);
}

	.politika1{
		width:50%;
		overflow:hidden;
		margin-right:10px;
	}

		.politika1 img{
			height:70%;
		}

	.politika1Text{
		width:100%;
		padding-top:10px;
		display: flex;
		flex-direction:column;
		align-items: flex-start;
	}

		.politika1Kategoriler{
			display: flex;
			flex-direction:row;
			align-items: center;
			justify-content: center; 
		
		}
	
			.politika1Kategori{
				font-family: 'Roboto Regular';
				font-size:13px;
				border:1px solid var(--borderColor);
				padding:1px 5px;
				border-radius:7px;
				margin-right:5px;
				
			}

		.politika1Baslik{
			width:100%;
			font-family: 'Roboto Bold';
			font-size: 18px;
			margin-top:15px;
			
		}
		


		.politika1Yazar{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			margin-top:5px;
			
		}
		
	.politika2{
		width:25%;
		padding:0px 10px;
		border-left:1px solid var(--borderColor);
		border-right:1px solid var(--borderColor);
	}
	
	.politika2Alt{
			width:100%;
			overflow:hidden;
	}

		.politika2Alt img{
			height:35%;
			padding-bottom:10px;
		}
		
		.politika2AltText{
			font-family: 'Roboto Bold';
			font-size: 13px;
			margin-bottom:20px;
		}

	.politika3{
		width:25%;
		padding-left:10px;
	}
	
	.politika3Alt{
		height:25%;
		display: flex;
		flex-direction:column;
		border-bottom:1px solid var(--borderColor);
	}
		.politika3Baslik{
			font-family: 'Roboto Bold';
			font-size: 14px;
			padding-top:9px;
			text-overflow: ellipsis;overflow: hidden;
			
		}
		
		.politika3Yazar{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			padding-top:5px;
			padding-bottom:10px;
			
		}
		
		.politika3YazarSon{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			padding-top:5px;
			padding-bottom:10px;
			
		}

/*********** politika kısmının bitimi ***********/


/*********** dünya kısmının başlangıcı ***********/
.dunya{
	width:98%;
	float:left;
	margin-top:20px;
	text-align:left;
}

.dunya h1{
	font-family:"Roboto Bold";
	font-size:15px;
	padding:8px 25px;
	float:left;
	background-color: var(--borderColor);
	color:var(--colorWhite);
}

.dunyalar{
	width:100%;
	height:380px;
	display:flex;
	padding-top:10px;
	padding-bottom:10px;
	border-top:2px solid var(--borderColor);
	border-bottom:1px solid var(--borderColor);
}

	.dunya1{
		width:50%;
		overflow:hidden;
		margin-right:10px;
	}

		.dunya1 img{
			height:70%;
		}

	.dunya1Text{
		width:100%;
		padding-top:10px;
		display: flex;
		flex-direction:column;
		align-items: flex-start;
	}

		.dunya1Kategoriler{
			display: flex;
			flex-direction:row;
			align-items: center;
			justify-content: center; 
		
		}
	
			.dunya1Kategori{
				font-family: 'Roboto Regular';
				font-size:13px;
				border:1px solid var(--borderColor);
				padding:1px 5px;
				border-radius:7px;
				margin-right:5px;
				
			}

		.dunya1Baslik{
			font-family: 'Roboto Bold';
			font-size: 15px;
			margin-top:20px;
			
		}
		
		.dunya1Yazar{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			margin-top:5px;
			
		}
		
	.dunya2{float:left;
		width:25%;
		padding:0px 10px;
		border-left:1px solid var(--borderColor);
	}
	
	.dunya2Alt{
		width:100%;
		overflow:hidden;
	}
	
	.yan,.yan2{
		position:relative;
		left:105%;
		top:-355;
		padding:0px 10px;
		border-left:1px solid var(--borderColor);
	}
	
	.yan{
	}

		.dunya2Alt img{
			height:35%;
			padding-bottom:10px;
		}
		
		.dunya2AltText{
			font-family: 'Roboto Bold';
			font-size: 13px;
			margin-bottom:20px;
		}

	
		
/*********** dünya kısmının bitimi ***********/
		

/*********** dünya kısmının başlangıcı ***********/
.makale{
	width:98%;
	float:left;
	margin-top:20px;
	text-align:left;
}

.makale h1{
	font-family:"Roboto Bold";
	font-size:15px;
	padding:8px 25px;
	float:left;
	background-color:var(--borderColor);
	color:var(--colorWhite);
}

.makaleler{
	width:100%;
	height:380px;
	display:flex;
	padding-top:10px;
	padding-bottom:10px;
	border-top:2px solid var(--borderColor);
	border-bottom:1px solid var(--borderColor);
}

	.makale1{
		width:75%;
		overflow:hidden;
		margin-right:10px;
	}

		.makale1 img{
			height:100%;
		}

	.makale1Text{
		width:100%;
		padding-top:10px;
		display: flex;
		flex-direction:column;
		align-items: flex-start;
	}

		.makale1Kategoriler{
			display: flex;
			flex-direction:row;
			align-items: center;
			justify-content: center; 
		
		}
	
			.makale1Kategori{
				font-family: 'Roboto Regular';
				font-size:13px;
				border:1px solid var(--borderColor);
				padding:1px 5px;
				border-radius:7px;
				margin-right:5px;
				
			}

		.makale1Baslik{
			font-family: 'Roboto Bold';
			font-size: 15px;
			margin-top:30px;
			
		}
		
		.makale1Yazar{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			margin-top:45px;
			
		}
		
	.makale2{
		width:25%;
		padding:0px 10px;
		border-left:1px solid var(--borderColor);
	}
	
	.makale2Alt{
			width:100%;
			overflow:hidden;
	}

		.makale2Alt img{
			height:35%;
			padding-bottom:10px;
		}
		
		.makale2AltText{
			font-family: 'Roboto Bold';
			font-size: 13px;
			margin-bottom:20px;
		}

	
		
/*********** dünya kısmının bitimi ***********/

/*********** footer kısmının başlangıç ***********/

footer{
	width:var(--contentWidth);
	background-color: var(--contentBackground);
	border-top:3px solid var(--borderColor);
	border-bottom:2px solid var(--borderColor);
}

.footer-logo{
	border-bottom:1px solid var(--borderColor);
	padding:10px 0px;
	text-align:left;
}

.footer-logo img{
	width:15%;
}

.footer-list{
	padding-top:15px;
	padding-bottom:15px;
	text-align:left;
	line-height:30px;
	display:flex;
}

.footer-list1{
	width:20%;
	font-weight:bold;
}

.footer-list1 ul{
	
}

.footer-list1 li{
}

.footer-list1 a{
	color:var(--textColor);
	font-family: 'Roboto Bold';
	font-size: 14px;
	
}

.footer-list2{
	width:var(--contentWidth);
	border-left:1px solid var(--borderColor);
}

.footer-list2 ul{
}

.footer-column1,.footer-column2,.footer-column3,.footer-column4{
	width:25%;
	padding-left:50px;
	font-family: 'Roboto Medium';
	font-size: 14px;
}

.footer-baslik{
	width:800px !important;
	font-family: 'Roboto Black';
	font-size: 14px;
	border-bottom:1px solid var(--textColor);
	padding-bottom:5px;
	font-weight:bold;
}

.footer-column1{
	float:left;
}

.footer-column2{
	float:left;
}

.footer-column3{
	float:left;
}

.footer-column2Alt,.footer-column3Alt{
	padding-top:10px;
}

.footer-column4{
	float:right;
}

.floatLeft{
	display:flex;
	flex-direction:column;
}

.floatRight{
	display:flex;
	flex-direction:column;
	margin-left:80px;
	margin-top:-235px;
}

.footerAlt{
	width:var(--contentWidth);
	background-color: var(--contentBackground);
	padding-top:10px;
	padding-bottom:20px;
}


/*********** footer kısmının bitimi ***********/

/*********** köşe yazısı kısmının başlangıç ***********/

.koseYazisi1{
	width:98%;
	float:left;
	margin-top:20px;
	text-align:left;
	background-color:var(--contentBackground);
}

	.koseYazisiUst{
		display:flex;
		
	}

	.koseYazisi1Baslik{
	width:25%;
	font-family:"Roboto Bold";
	font-size:15px;
	padding:8px 15px;
	background-color:var(--borderColor);
	display:flex;
	justify-content:center;
	color:var(--colorWhite);
}

	.koseYazisi1Kategoriler{
		padding-left:15px;
		display:flex;
		align-items: center;
		
			
	}
	
		.koseYazisi1Kategori{
			font-family: 'Roboto Regular';
			font-size:13px;
			border:1px solid var(--borderColor);
			padding:1px 5px;
			margin-right:5px;
			
		}

.koseYazilari{
	width:100%;
	height:380px;
	padding-top:15px;
	padding-bottom:10px;
	text-align:center;
	border-top:2px solid var(--borderColor);
}

.koseYazisiProfil{
	width:25%;
	height:350px;
	padding:10px;
	float:left;
}

.koseYazisiProfil img{
	width:100px;
	height:100px;
	border-radius:50%;
}


.koseYazisiProfilText{
	width:100%;
	padding-top:15px;
}

.koseYazisiProfilYazar{
	font-family:"Roboto Bold";
	font-size:15px;
}

.koseYazisiProfilYazarStatu{
	font-family:"Roboto Regular";
	font-size:10px;
	padding-top:10px;
	padding-bottom:10px;
}


.koseYazisiProfilYazarBiograf{
	font-family:"Roboto Regular";
	font-size:11px;
	text-align:left;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.koseYazisiProfilTarih{
	font-family:"Roboto Black";
	font-size:13px;
	padding-top:10px;
	padding-bottom:10px;
}


.koseYazisiProfilSayac{
	font-family:"Roboto Bold";
	font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
}


.koseYazisiProfilSosyalMedia{
	padding-top:10px;
	padding-bottom:10px;
}

.koseYazisiProfilIcon ul{
	display:flex;
	align-items: center;
	justify-content:center;
}

.koseYazisiProfilIcon li{
	padding-left:5px;
	
}

.koseYazisiProfilIcon li img{
	width:20px;
	height:20px;
}

.koseYazisiProfilSonYazilar h3{
			width:100%;
			font-family: 'Roboto Bold';
			font-size: 18px;
			color:var(--textColor);
			text-align:center;
			padding-bottom:5px;
			border-bottom:3px solid #000;
		}

.koseYazisiProfilSonYazilari{
	
	
	padding-top:10px;
	padding-bottom:10px;
}

.koseYazisiProfilSonYazilar{
		width:100%;
		padding-left:10px;
	}
	
	.koseYazisiProfilSonYazi{
		height:25%;
		display: flex;
		flex-direction:column;
		text-align:left;
		border-bottom:1px solid var(--borderColor);
	}
		.koseYazisiProfilSonYaziBaslik{
			font-family: 'Roboto Bold';
			font-size: 14px;
			margin-top:9px;
			
		}
		
		.koseYazisiProfilSonYaziYazar{
			font-family: 'Roboto Bold';
			font-size: 10px;
			color:var(--logoColor);
			margin-top:5px;
			margin-bottom:10px;
			
		}
		
		


.koseYazisiIcerik{
	width:75%;
	float:left;
	text-align:left;
	padding-left:15px;
	padding-right:15px;
	border-left:1px solid var(--borderColor);
	
}


.koseYazisiIcerikBaslik{
    font-family: 'Playfair Display Black';
	font-size:37px;
	color:#000;
	padding-bottom:10px;
}


.koseYazisiIcerikText{
}


.koseYazisiIcerikText{
    font-family: 'Roboto Medium';//Regular
	font-size:18px;
	color:var(--textColor);
	padding-top:10px;
	padding-bottom:10px;
	line-height:25px;
}


.ilkKarakter:first-letter {
	font-size:50px;
	float:left;
	margin-top:10px;
	margin-left:5px;
	color:var(--logoColor);
	
}

.altCizgi{
	color:var(--textColor);
	border-bottom:2px solid var(--logoColor);
	
}


.koseYazisiIcerikEtiket{
			display: flex;
			flex-direction:row;
			align-items: center;
			justify-content: flex-start; 
			padding-top:10px;
	border-top:2px solid var(--borderColor);
		
		}
	
			.koseYazisiEtiket{
				font-family: 'Roboto Regular';
				font-size:14px;
				border:1px solid var(--logoColor);
				color:var(--logoColor);
				padding:1px 5px;
				border-radius:7px;
				margin-right:5px;
				
			}

/*********** köşe yazısı kısmının bitimi ***********/


/*********** panel top kısmının başlangıç ***********/

.panelTop{
	width:100%;
	height:40px;
	background-color:var(--logoColor);
	display:flex;
	
}

.panelTopLogo{
	width:20%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.panelTopLogo img{
	height:35px;
	
}

.panelTopSite{
	width:20%;
	display:flex;
	align-items:center;
	padding-left:30px;
	
}

.panelTopSite a{
	color:var(--colorWhite);
    font-family: 'Roboto Bold';
	font-size:12px;
	
}

.panelTopKullanici{
	width:60%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	
}

.panelTopKullanici ul{
	
	
}

.panelTopKullanici li{
	float:left;
	padding:0px 15px;
    font-family: 'Roboto Bold';
	font-size:12px;
	
}

.panelTopKullanici a{
	color:var(--colorWhite);
	
}

.panelYazar{
	font-size:14px;
	
}

.panelContent{
    width: 100%;
	display:flex;
	flex-direction:row;
	
}

.panelMenu{
	width:20%;
	height:100%;
	background-color:#2D9CDB;
}

.panelMenu ul{
	
	
}

.panelMenu li{
	padding:20px 40px;
	border-bottom:1px solid #f2f2f2;
    font-family: 'Roboto Bold';
	font-size:15px;
	color:var(--colorWhite);
	
}

.panelMenu li:hover{
	background-color:#4fafff;
	
}

.panelMenu a{
	
}

.panelContentIcerik{
    width: 100%;
	
}

.mesaj{
    width: 100%;
	
}


.panelYazarlar{
    width: 100%;
	margin-top:60px;
	display:flex;
	justify-content:center;
	
}

.panelYazarlar ul{
	
	
}

.panelYazarlar li{
	width:200px;
	height:50px;
	float:left;
    font-family: 'Roboto Bold';
	font-size:20px;
	margin-left:30px;
	border-radius:17px;
	background-color:#EB5757;
	display:flex;
	justify-content:center;
	align-items:center;
	color:var(--colorWhite);
	
}

.panelYazarlar li:hover{
	background-color:#4fafff;
	
}

.panelYazarlar a{
	
}

.yazarForm{
    width: 80%;
	margin-top:50px;
	
}.yazarForm form{
    width: 100%;
	
}

label{
    font-family: 'Roboto Bold';
	font-size:20px;
	
}
input[type=text],select{
    width: 100%;
	height:35px;
    padding: 12px;
    border: 1px solid #cbba75;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background:transparent;
	color:#752e12;
	
}

select{
	height:35px;
    padding: 5px;
	
}

.yazarHakkinda{
    width: 100%;
	height:100px;
    padding: 12px;
    border: 1px solid #cbba75;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background:transparent;
	color:#752e12;
	
}

.yaziOzet{
    width: 100%;
	height:150px;
    padding: 12px;
    border: 1px solid #cbba75;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background:transparent;
	color:#752e12;
	
}

.yaziIcerik{
    width: 100%;
	height:700px;
    padding: 12px;
    border: 1px solid #cbba75;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background:transparent;
	color:#752e12;
	
}

input[type=submit]{
	width: 50%;
    padding: 12px;
//    border: 1px solid #cbba75;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background:#cbba75;
	color:#8a611f;
	font-weight:bold;
	
}

/*********** panel top kısmının bitimi ***********/




















































